<div class="container mt-4 container-basket">
  <h2><strong>My Basket</strong></h2>
    <h4>You're almost there...</h4>

  <div class="row">
    <div class="col-lg-8">
      <!-- Card -->
      <div class="mb-3">
        <div class="pt-4 wish-list">

          <h5 class="mb-4">Cart (<span><%= @orders.count %></span> items)</h5>
          <% n = 0  %>
          <% @orders.each do |order|%>
            <div class="order-card">
              <div class="row mb-4">
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                    <%= cl_image_tag order.recipe.photo.key, height: 100, width: 150, crop: :fill %>
                  </div>
                </div>
                <div class="col-md-9 col-lg-9 col-xl-9 ingredients-basket-wrapper">
                  <div>
                    <div class="d-flex justify-content-between">
                      <div>
                        <h5><%= order.recipe.title %></h5>
                        <p class="mb-3 text-uppercase small">You saved <%= order.ordered_amounts.count %> ingredients from being thrown away</p>
                        <%# <p class="mb-2 text-muted text-uppercase small">Color: blue</p>
                        <p class="mb-3 text-muted text-uppercase small">Size: M</p> %>
                      </div>
                      <div>
                        <div class="def-number-input number-input safari_only mb-0" style="width: 100px">
                          <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                            class="minus decrease">
                              <i class="fas fa-minus"></i>
                            </button>
                          <input class="quantity" min="0" name="quantity" value="1" type="number">
                          <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                            class="plus increase">
                              <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <%# <small id="passwordHelpBlock" class="form-text text-muted text-center">
                          (Note, 1 piece)
                        </small> %>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <div class="container-ingredients">
                          <h5><strong>Ingredients</strong></h5>
                          <div class="row row-ingredients">
                            <div class="column-ingredients">
                              <div class="ingredient-wrapper">
                                <% order.recipe.amounts.each do |amount| %>
                                    <div class="recipe-item">
                                      <%= cl_image_tag amount.ingredient.photo.key, height: 40, class: "ingredient-img", crop: :fill %>
                                      <%# <span style="color: #5A8F28"> %>
                                      <%= amount.quantity.round(2) %>
                                      <%=
                                        str = amount.unit
                                        str.gsub("liter", "l").gsub("centi", "c").gsub("milli", "m").gsub("deci", "d").gsub("tablespoon", "tbsp").gsub("Tbsp", "tbsp").gsub("teaspoon", "tsp")
                                       %>
                                      <%= amount.ingredient.name %>
                                      <% ingredient_amount = order.ordered_amounts.find_by(ingredient: amount.ingredient) %>
                                      <%= link_to "-", decrement_ordered_amount_path(ingredient_amount), method: :patch, class: "btn btn-primary" %>
                                      <%= ingredient_amount.quantity %>
                                      <%= link_to "+", increment_ordered_amount_path(ingredient_amount), method: :patch, class: "btn btn-primary" %>
                                      <%# </span> %>
                                    </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                        <i class="fas fa-trash-alt mr-1"></i><%= link_to "Remove item", order_path(order), method: :delete, class: "card-link-secondary small text-uppercase mr-3"%>
                      </div>
                        <% order_price = 0 %>
                        <% order.ordered_amounts.each do |amount| %>
                            <% order_price += (amount.ingredient.price * amount.quantity)%>
                        <% end %>
                        <p class="mb-0"><span><strong id="summary"><%= order_price.round(2) %> €</strong></span></p class="mb-0">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mb-4">
            </div>
          <% end %>

          <%= link_to "Go back to continue shopping...", recipes_path, class: "card-link-secondary small text-uppercase mr-3"%>

          <h5 class="mb-3 mt-3">Please choose a pickup slot!</h5>

          <button class="btn btn-outline-secondary btn-sm" disabled>10:00 - 12:00</button>
          <button class="btn btn-outline-success btn-sm">17:00 - 20:00</button>


          <!-- <form class="form-inline">
            <label class="sr-only" for="inline-date">Start-Date</label>
            <input type="date" class="form-control mr-3 mb-3" id="inline-date" required>
            <div class="invalid-feedback">Please provide a valid value.</div>
            <div class="valid-feedback">Looks good!</div>

            <label class="sr-only" for="inline-time">Start-Time</label>
            <input type="time" class="form-control mr-3 mb-3" id="inline-time" required>
            <div class="invalid-feedback">Please provide a valid value.</div>
            <div class="valid-feedback">Looks good!</div>

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </form> -->

          <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
            items to your cart does not mean booking them.</p>

        </div>
      </div>
      <!-- Card -->
          <hr class="mb-4">

      <%# Payment Form %>

      <div class="card-header card-header-payment">
        <div class="bg-white pt-4 pl-2 pr-2 pb-2">
          <!-- Credit card form tabs -->
          <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
              <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
              <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
              <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Net Banking </a> </li>
          </ul>
        </div> <!-- End -->
        <!-- Credit card form content -->
        <div class="tab-content">
        <!-- credit card info-->
          <div id="credit-card" class="tab-pane fade show active pt-3">
            <form role="form">
                <div class="form-group"> <label for="username">
                        <h6>Card Owner</h6>
                    </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control "> </div>
                <div class="form-group"> <label for="cardNumber">
                        <h6>Card number</h6>
                    </label>
                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group"> <label><span class="hidden-xs">
                                    <h6>Expiration Date</h6>
                                </span></label>
                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                            </label> <input type="text" required class="form-control"> </div>
                    </div>
                </div>
                <div class="card-footer card-footer-payment"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>
            </form>
        </div>
        </div> <!-- End -->
        <!-- Paypal info -->
        <div id="paypal" class="tab-pane fade pt-3">
            <h6 class="pb-2">Select your paypal account type</h6>
            <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
            <p> <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i> Log into my Paypal</button> </p>
            <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
        </div> <!-- End -->
        <!-- bank transfer info -->
        <div id="net-banking" class="tab-pane fade pt-3">
            <div class="form-group "> <label for="Select Your Bank">
                    <h6>Select your Bank</h6>
                </label> <select class="form-control" id="ccmonth">
                    <option value="" selected disabled>--Please select your Bank--</option>
                    <option>Bank 1</option>
                    <option>Bank 2</option>
                    <option>Bank 3</option>
                    <option>Bank 4</option>
                    <option>Bank 5</option>
                    <option>Bank 6</option>
                    <option>Bank 7</option>
                    <option>Bank 8</option>
                    <option>Bank 9</option>
                    <option>Bank 10</option>
                </select> </div>
            <div class="form-group">
                <p> <button type="button" class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i> Proceed Pyment</button> </p>
            </div>
            <p class="text-muted">Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
        </div> <!-- End -->
        <!-- End -->
        </div>
      </div>

      <%# Payment Form %>

    </div>

    <div class="col-lg-4">
      <div class="mb-3 total-amount">
          <div class="pt-4">
            <% total = 0 %>
            <% @orders.each do |order| %>
              <% order.ordered_amounts.each do |amount| %>
                <% total += (amount.ingredient.price * amount.quantity)%>
              <% end %>
            <% end %>
            <h5 class="mb-3">Total Amount</h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Temporary amount
                <span> <%= total.round(2) %> €</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Delivery Costs
                <span>Free</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>The total amount of</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>
                <div class="total-price">
                  <% total = 0 %>
                  <% @orders.each do |order| %>
                    <% order.ordered_amounts.each do |amount| %>
                      <% total += (amount.ingredient.price * amount.quantity) %>
                    <% end %>
                  <% end %>
                  <p>Total: <%= total.round(2) %> €</p>
                </div>
                </strong></span>
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-block"><strong>Buy</strong></button>

          </div>
        </div>
    </div>

  </div>
</div>







<%#

<div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Net Banking </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form">
                                <div class="form-group"> <label for="username">
                                        <h6>Card Owner</h6>
                                    </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control "> </div>
                                <div class="form-group"> <label for="cardNumber">
                                        <h6>Card number</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>Expiration Date</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control"> </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <!-- Paypal info -->
                    <div id="paypal" class="tab-pane fade pt-3">
                        <h6 class="pb-2">Select your paypal account type</h6>
                        <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
                        <p> <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i> Log into my Paypal</button> </p>
                        <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                    </div> <!-- End -->
                    <!-- bank transfer info -->
                    <div id="net-banking" class="tab-pane fade pt-3">
                        <div class="form-group "> <label for="Select Your Bank">
                                <h6>Select your Bank</h6>
                            </label> <select class="form-control" id="ccmonth">
                                <option value="" selected disabled>--Please select your Bank--</option>
                                <option>Bank 1</option>
                                <option>Bank 2</option>
                                <option>Bank 3</option>
                                <option>Bank 4</option>
                                <option>Bank 5</option>
                                <option>Bank 6</option>
                                <option>Bank 7</option>
                                <option>Bank 8</option>
                                <option>Bank 9</option>
                                <option>Bank 10</option>
                            </select> </div>
                        <div class="form-group">
                            <p> <button type="button" class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i> Proceed Pyment</button> </p>
                        </div>
                        <p class="text-muted">Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                    </div> <!-- End -->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div> %>
