<div class="container container-main">
  <div class="row">
    <div class="column">
      <div>
        <h4 class="mt-3 mb-0">There are <strong style="color: #5A8F28;"><%= @recipes.count %></strong> recipes available around you in <strong style="color: #5A8F28;"
><%= params[:location] %></strong> !</h4>
      </div>
      <div class="cards">
        <% n = 0  %>
        <% @recipes.each do |recipe|%>
          <%= link_to recipe_path(recipe), "data-toggle" => "modal", 'data-target' => "#recipe#{n}" do %>
            <div class="recipe-card">

              <% if recipe.photo.attached? %>
                <%= cl_image_tag recipe.photo.key, height: 200, width: 300, crop: :fill %>
              <% else %>
                <img src="https://res.cloudinary.com/dovh6vnvn/image/upload/v1597150377/Cookclever/placeholder.png" style="width: 50%">
              <% end %>

              <div class="recipe-card-infos">
                <div>
                  <h2><%= recipe.title %></h2>
                  <div class="d-flex justify-content-between">
                    <p><%= recipe.supermarket.name %></p>
                    <% price = 0 %>
                    <% recipe.amounts.each do |amount| %>
                      <% price += amount.ingredient.price %>
                    <% end %>
                    <p><strong><%= price %> €</strong></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <%# Modal %>
          <div class="modal fade" id="<%= "recipe#{n}" %>" tabindex="-1" role="dialog" aria-labelledby="<%= "recipe#{n}Label" %>" aria-hidden="true">
            <% n += 1 %>
            <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">

                <%# Modal Header %>
                <div class="modal-header">
                  <div class="modal-header-image">

                    <% if recipe.photo.attached? %>
                      <%= cl_image_tag recipe.photo.key, height: 300, width: 300, crop: :fill %>
                    <% else %>
                      <img src="https://res.cloudinary.com/dovh6vnvn/image/upload/v1597150377/Cookclever/placeholder.png" style="width: 50%">
                    <% end %>
                    <h3 class="card-title"><strong><%= recipe.title %></strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <%# Modal Body %>
                <div class="modal-body">
                  <div class="modal-body-info d-flex ">
                    <div class="modal-body-info-item"><strong>Prep time:</strong></div>
                    <div class="modal-body-info-item"><strong>Calories:</strong></div>
                    <% price = 0 %>
                    <% recipe.amounts.each do |amount| %>
                      <% price += amount.ingredient.price %>
                    <% end %>
                    <div class="modal-body-info-item"><strong>Price:</strong></div>
                  </div>
                  <div class="modal-body-info d-flex justify-content-between" id="body-info-lower">
                    <div class="modal-body-info-item">25 mins</div>
                    <div class="modal-body-info-item">360 kcal</div>
                    <div class="modal-body-info-item"><%= price %> €</div>
                  </div>


                  <div class="container-ingredients">
                    <h5><strong>Ingredients</strong></h5>
                    <div class="row row-ingredients">
                      <div class="column-ingredients">
                        <div class="ingredient-wrapper">
                          <% recipe.amounts.each do |amount| %>
                            <div class="recipe-item">
                              <%# <span style="color: #5A8F28"> %>
                              <%= amount.quantity %>
                              <%=
                                str = amount.unit
                                str.gsub("liter", "l").gsub("centi", "c").gsub("milli", "m").gsub("deci", "d")
                               %>
                              <%= amount.ingredient.name %>
                              <%# </span> %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="recipe-instructions">
                    <h5><strong>Recipe Instructions</strong></h5>
                    <p><%= recipe.description %></p>
                  </div>

                </div>

                <%# Modal Footer %>
                <div class="modal-footer">
                  <%= form_tag recipe_orders_path(recipe), method: :post do %>
                    <%= hidden_field_tag :location, params[:location] %>
                    <%= submit_tag "Add to Cart", class: "btn btn-primary modal-footer-button" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>







        <%# -------- %>
        <% end %>
      </div>
    </div>
      <%# Map %>
      <div class="column" id="map-box">
        <div id="map"
          style="height: 700px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    <%# -------- %>
  </div>
</div>


