<%# -----Navbar----- %>
<div class="navbar navbar-expand-sm navbar-light navbar-home" style="position: fixed">
  <%= link_to "#", class: "navbar-brand" do %>
    <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to basket_path(@basket) do %>
          <li class="basket-icon">
          <i class="fas fa-shopping-cart"></i>
          </li>
          <% end %>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/LSchemuth", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", "#", class: "dropdown-item" %>
            <%= link_to "Recent orders", "baskets_path", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%# -----Banner incl. Location Search----- %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
  <div class="container">
    <div class="banner-wrapper">
      <%= image_tag "logo.svg", class: "logoHome" %>

      <%= form_tag recipes_path, class: "form-inline needs-validation form-homepage", novalidate: true, method: :get do %>
      <label class="sr-only" for="inline-location">Location</label>
      <div class="location-wrapper" id="inline-content">
        <i class="fas fa-map-marker-alt location-marker"></i>
        <%= text_field_tag :location, params[:location], class: "form-control mb-5 location-input-home float-left", placeholder: "Please enter a location", id: "pages_supermarket_address", style: "width: 250px" %>

        <%= image_submit_tag "arrow_right.svg", class: "submit-home" %>


        <%#= submit_tag "Let's Go!", class: "btn btn-primary mb-5 btn-home" %>
      </div>
      <div class="invalid-feedback">Location can't be blank</div>
      <div class="valid-feedback">Looks good!</div>

      <% end %>

      <h1>Explore healthy and sustainable recipes with <strong style="color: #010059;">CookClever</strong></h1>
      <p style="opacity: 0.8">Find tasty recipes and save food from being wasted</p>

    </div>
  </div>
</div>

